# View Dataset for Agents

In [1]:
import pandas as pd

In [2]:
trips_df = pd.read_csv('Tables_Data/trip_recommendations.csv')
tickets_df = pd.read_csv('Tables_Data/tickets.csv')
ticketsflight_df = pd.read_csv('Tables_Data/ticket_flights.csv')
seats_df = pd.read_csv('Tables_Data/seats.csv')
hotels_df = pd.read_csv('Tables_Data/hotels.csv')
flights_df = pd.read_csv('Tables_Data/flights.csv')
car_booking_df = pd.read_csv('Tables_Data/car_rental_bookings.csv')
car_df = pd.read_csv('Tables_Data/car_rentals.csv')
bookings_df = pd.read_csv('Tables_Data/bookings.csv')
boarding_df = pd.read_csv('Tables_Data/boarding_passes.csv')
airports_df = pd.read_csv('Tables_Data/airports_data.csv')
aircrafts_df = pd.read_csv('Tables_Data/aircrafts_data.csv')
passengers_df = pd.read_csv('Tables_Data/passengers.csv')
trip_booking_df = pd.read_csv('Tables_Data/trip_bookings.csv')
hotel_booking_df = pd.read_csv('Tables_Data/hotel_bookings.csv')

In [4]:
flights_df

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival
0,1,QH5152,2025-08-23T14:51:27.552+07:00,2025-08-23T16:21:27.552+07:00,HPH,CAH,Scheduled,320,NaN,NaN
1,2,VN0259,2025-08-23T21:44:05.420+07:00,2025-08-23T23:14:05.420+07:00,VKG,DLI,Scheduled,788,NaN,NaN
2,3,VJ3631,2025-09-20T00:54:02.070+07:00,2025-09-20T02:24:02.070+07:00,VCS,VII,Scheduled,321,NaN,NaN
3,4,VJ1276,2025-07-25T08:21:04.499+07:00,2025-07-25T09:51:04.499+07:00,CAH,DLI,Scheduled,788,NaN,NaN
4,5,VJ7452,2025-08-16T17:38:09.308+07:00,2025-08-16T18:38:09.308+07:00,UIH,VII,Delayed,320,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
999,1000,VN7643,2025-07-20T23:25:59.475+07:00,2025-07-21T02:25:59.475+07:00,VII,VKG,Scheduled,E90,NaN,NaN
1000,1001,BL0906,2025-09-06T19:17:54.232+07:00,2025-09-06T21:17:54.232+07:00,HAN,DLI,Scheduled,359,NaN,NaN
1001,1002,VJ2169,2025-08-23T11:09:48.989+07:00,2025-08-23T14:09:48.989+07:00,HPH,PQC,Scheduled,32A,NaN,NaN
1002,1003,QH4432,2025-07-04T07:01:43.746+07:00,2025-07-04T10:01:43.746+07:00,VKG,CXR,Scheduled,AT7,NaN,NaN
1003,1004,VU6695,2025-09-21T02:53:38.503+07:00,2025-09-21T04:53:38.503+07:00,DLI,VCS,Scheduled,320,NaN,NaN

'Chính sách phục vụ hành khách trong trường hợp bất thường - Bamboo Airways'